# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Local config
local.properties

# IDE
.idea/
*.iml
.DS_Store

# Build outputs
*.apk
*.aab
*.ap_
*.dex
captures/
.externalNativeBuild/
.cxx/

# Keystores
*.jks
*.keystore

# Logs
*.log
